{{!-- {{#each view}}
    <div>
        <li>
            <ul>Product: {{this.productId}}</ul>
            <ul>Quantity: {{this.quantity}}</ul>
        </li>
    </div>
{{/each}} --}}

<h1>{{title}}</h1>
<div class="container">
    <div class="cart"> {{cartFound}} </div>
    <div class="product">{{this.product}}</div>
</div>
