{{#each products}}
        <div class="prodspot">
            <h3>{{this.title}}</h3>
            <p>{{this.description}}</p>
            <h4>${{this.price}}</h4>
            <p>Stock: {{this.stock}}</p>
            <p>Category: {{this.category}}</p>
            <button class="addtocartbtn">Add To Cart</button>
        </div>
{{/each}}