<h1>Profile</h1>
<div>
    <h4>Personal data</h4>
    <p>Name: {{user.firstName}} {{user.lastName}}</p>
    <p>E-mail: {{user.email}}</p>
    <p>Age: {{user.age}}</p>
    <div>
        <p>Role Type: {{user.role}}</p>
    </div>
    <a href="/api/sessions/logout"><button>Log Out</button></a>
</div>